<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<!--Conectar a la base de datos-->
<connectionStrings>
	<add name="connect" connectionString="Data Source=DESKTOP-0CQAL6E;Initial Catalog=Agenda2;Integrated Security=True"/>
</connectionStrings>
</configuration>